/*cssreset*/
html,body{height: 100%;overflow: hidden;}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}

/*清除浮动*/
.clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}
/*公共样式 标题*/
.commonTitle{ color:#009ee0; font-size:80px; line-height:0.8;
    font-weight:bold; letter-spacing:-5px;
}
/*公共样式 文本*/
.commonText{ color:white; line-height:1.5; font-size:15px;}
/*头部*/
#header{
    width: 100%;
    height:80px;
    position: relative;
}
.headerMain{
    margin: 0 auto;
    width: 1100px;
    height: 80px;
    /*background: pink;*/
}
#header .headerMain .logo{
    float: left;
    margin-top: 15px;
}
#header .headerMain .nav{
    float: right;
    margin-top: 50px;
}
#header .headerMain .nav ul li{
    position: relative;
    float: left;
    margin-left: 40px;
}
#header .headerMain .nav ul li .up{
    position: absolute;
    top:0;
    left:0;
    color: #000;
    width: 0;
    overflow: hidden;
    transition: 1s width;
}
#header .headerMain .nav ul li:hover .up{
    width: 100%;
}
#header .arrow{
    position: absolute;
    left:50%;
    bottom: -11px;
    width: 21px;
    height: 11px;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    transition: 1s left;
    z-index: 9;
}
#content{
    width: 100%;
    position: relative;
    background: skyblue;
    overflow: hidden;
}
#content .list{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 1s top;
}
#content .list li{
    position: relative;
}
#content .list li>div{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin:  auto;
    width: 1100px;
    height: 520px;
    background: pink;
}
#content .list>li:nth-child(1){
    background-image: url("../img/bg1.jpg");
}


#content .list>li:nth-child(5){
    background-image: url("../img/bg5.jpg");
}

/*第三屏*/
#content .list>li:nth-child(3){
    background-image: url("../img/bg3.jpg");
}
#content .list .works .works1{
    margin: 50px 0 100px 50px;
}
#content .list .works .works2{
    margin-left: 50px;
}
#content .list .works .works2 .item{
    position: relative;
    float: left;
    width: 220px;
    height: 133px;
    margin: 0 1px;
    overflow: hidden;
}
#content .list .works .works2 .item:last-child{
    width: 332px;
}
#content .list .works .works2 .item .mask{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    background: rgba(25,25,25,0.8);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: 1s opacity;
}
#content .list .works .works2 .item .mask>.icon{
    width: 32px;
    height: 34px;
    margin: 10px auto 0;
    background-image: url("../img/zoomico.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
#content .list .works .works2 .item img{
    transition: 1s transform;
}
#content .list .works .works2 .item:hover img{
    transform: rotate(15deg) scale(1.6);
}
#content .list .works .works2 .item:hover .mask{
    opacity: 0.8;
}
#content .list .works .works2 .item .mask>.icon{
    transition: 1s background-position;
}
#content .list .works .works2 .item:hover .mask>.icon{
    background-position: 0 -35px;
}
#content .list .works .works3{
    position: absolute;
    left:900px;
    top:170px;
    width: 167px;
    height: 191px;
    background-image: url("../img/robot.png");
    background-repeat: no-repeat;
    animation: 4s works3Move infinite linear;
}
@keyframes works3Move {
    0%{transform: rotateY(0deg);}
    49%{transform: rotateY(0deg);}
    50%{
        left:40%;
        transform: rotateY(180deg);
    }
    100%{transform: rotateY(180deg);}
}
/*第四屏*/
#content .list>li:nth-child(4){
    background-image: url("../img/bg4.jpg");
}
#content .list .about .about1{
    margin: 50px 0 100px 50px;
}
#content .list .about .about2{
    width: 400px;
    margin-left: 50px;
}

#content .list .about .about3>.item{
    position: absolute;
    width: 260px;
    height: 200px;
    border: 5px solid rgba(255,255,255,0.5);
    border-radius: 8px;
}
#content .list .about .about3>.item:first-child{
    left:750px;
    top:50px;
}
#content .list .about .about3>.item:last-child{
    left:600px;
    top:290px;
}
#content .list .about .about3>.item>span,#content .list .about .about3>.item>ul{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#content .list .about .about3>.item:first-child>span{
    background-image: url("../img/about2.jpg");
    background-repeat: no-repeat;
}
#content .list .about .about3>.item:last-child>span{
    background-image: url("../img/about4.jpg");
    background-repeat: no-repeat;
}
#content .list .about .about3>.item>ul>li{
    float: left;
    overflow: hidden;
    position: relative;
}
#content .list .about .about3>.item>ul>li>img{
    position: absolute;
    left:0;
    top:0;
    transition: 1s;
}
/*第二屏*/
#content .list>li:nth-child(2){
    background-image: url("../img/bg2.jpg");
}
#content .list .course .course1{
    margin: 50px;
}
#content .list .course .course2{
    width: 400px;
    margin-left: 50px;
}
#content .list .course .course3{
    position: absolute;
    right: 50px;
    top: 70px;
    width: 480px;
}
#content .list .course .course3 .item{
    width: 120px;
    height: 132px;
    float: left;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}
#content .list .course .course3 .item .itemInner{
    width: 100%;
    height: 100%;
    transition: 2s transform;
    transform-style: preserve-3d;
    perspective: 1000px;
}
#content .list .course .course3 .item .itemInner .front{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../img/pcwelt.png");
    background-repeat: no-repeat;
    background-position: center;
    /*元素背面不可见*/
    backface-visibility: hidden;
}
#content .list .course .course3 .item .itemInner .back{
    width: 120px;
    height: 132px;
    background: #009ee0;
    padding: 15px;
    box-sizing: border-box;
    transform: rotateY(180deg);
    /*元素背面不可见*/
    backface-visibility: hidden;
}
#content .list .course .course3 .item:hover .itemInner{
    transform: rotateY(180deg);
}
#content .list .course .course3 .line{
    position: absolute;
    left: 0;
    top: -5px;
    width: 9px;
    height: 410px;
    background-image: url("../img/plus_row.png");
    background-repeat: no-repeat;
}
#content .list .course .course3 .line:nth-child(1){left: -6px;}
#content .list .course .course3 .line:nth-child(2){left: 114px;}
#content .list .course .course3 .line:nth-child(3){left: 234px;}
#content .list .course .course3 .line:nth-child(4){left: 354px;}
#content .list .course .course3 .line:nth-child(5){left: 474px;}

