/*cssreset*/
html,body{height: 100%;overflow: hidden;}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}


/*清除浮动*/
.clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}

/*公共样式*/
.commonTitle{ color:#009ee0; font-size:80px; line-height:0.8;
    font-weight:bold; letter-spacing:-5px;
}
.commonText{ color:white; line-height:1.5; font-size:15px;}

/*头部*/
#header{
    position: relative;
    width: 100%;
    height: 80px;
}
#header .headerMain{
    margin: 0 auto;
    width: 1100px;
    height: 80px;
}
#header .headerMain .logo{
    float: left;
    margin-top: 15px;
}

#header .headerMain .nav{
    float: right;
    margin-top: 50px;
}
#header .headerMain .nav ul li{
    position: relative;
    float: left;
    margin-left: 40px;
}

#header .headerMain .nav ul li .up{
    position: absolute;
    top:0;
    left: 0;
    color: #000000;
    width: 0;
    overflow: hidden;
    transition: 1s width;
}
#header .headerMain .nav ul li:hover .up{
    /*width: 100% !important;*/
    width: 100%;
}
#header .headerMain .arrow{
    position: absolute;
    left: 50%;
    bottom: -11px;
    width: 21px;
    height: 11px;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    transition: left 1s;
    z-index: 5;
}

/*内容区*/
#content{
    position: relative;
    width: 100%;
    overflow: hidden;

}

#content .list{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    transition: top 1s;
}
#content .list>li{
    position: relative;
    width: 100%;
    background-repeat: no-repeat;

    background-position: center;
    overflow: hidden;
}

#content .list>li>div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1100px;
    height: 520px;

}

/*第一屏*/
#content .list>li:nth-child(1){
    background-image: url("../img/bg1.jpg");
}

#content .list .home .homeList{
    position: relative;
    width: 1100px;
    height: 520px;

    transition: transform 2s,opacity 2s;;

    transform-style: preserve-3d;
    perspective: 1000px;
}
#content .list .home .homeList>li{
    position: absolute;
    top:0;
    left: 0;
    width: 1100px;
    height: 520px;

    visibility: hidden;
}
#content .list .home .homeList>li.active{
    visibility: visible;
}

/* 点击右侧： 左边隐藏，右边显示*/
#content .list .home .homeList>li.leftHide{
    animation: 2s leftH linear;
    visibility: hidden;
}
#content .list .home .homeList>li.rightShow{
    animation: 2s rightS linear;
    visibility: visible;
}
@keyframes leftH {
    0%{visibility: visible;}
    50%{transform: translate(-40%,0) rotateY(30deg) scale(.8);}
    100%{transform: translateZ(-200px);}
}
@keyframes rightS {
    0%{visibility: hidden;transform: translateZ(-200px)}
    50%{transform: translate(40%,0) rotateY(-30deg) scale(.8)}
    100%{}
}


/* 点击左侧： 左边显示，右边隐藏*/
#content .list .home .homeList>li.leftShow{
    animation: 2s leftS linear;
    visibility: visible;
}
#content .list .home .homeList>li.rightHide{
    animation: 2s rightH linear;
    visibility: hidden;
}
@keyframes leftS {
    0%{visibility: hidden;transform: translateZ(-200px);}
    50%{transform: translate(-40%,0) rotateY(30deg) scale(.8)}
    100%{}
}
@keyframes rightH {
    0%{visibility: visible}
    50%{transform: translate(40%,0) rotateY(-30deg) scale(.8)}
    100%{transform: translateZ(-200px)}
}


#content .list .home .homeList>li:nth-child(1){
    background:#dc6c5f;
}
#content .list .home .homeList>li:nth-child(2){
    background:#95dc84;
}
#content .list .home .homeList>li:nth-child(3){
    background:#64b9d2;
}
#content .list .home .homeList>li:nth-child(4){
    background:#000000;
}
#content .list .home .homeList>li>div{
    width: 1100px;
    height:520px;
    text-align: center;
    line-height: 520px;
    color: white;
}
#content .list .home .homeIcon{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    /*transform: translate(-50%,0);*/
    /*background: gold;*/

    transition: transform 2s,opacity 2s;
}
#content .list .home .homeIcon>li{
    /*float: left;*/
    display: inline-block;
    width: 20px;
    height:20px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    /*margin: 2px;*/
    box-shadow: 0 0 4px rgba(25,25,25,0.8);
}
#content .list .home .homeIcon>li.active{
    background: white;
}



/*第二屏*/
#content .list>li:nth-child(2){
    background-image: url("../img/bg2.jpg");
}
#content .list .course .course1{
    margin: 50px;
    position: relative;
    z-index: 2;
}
#content .list .course .course2{
    width: 400px;
    margin-left: 50px;
    position: relative;
    z-index: 2;
}
#content .list .course .course3{
    position: absolute;
    right: 50px;
    top:70px;
    width: 480px;
    z-index: 2;

}
#content .list .course .course3 .item{
    position: relative;
    float: left;
    width: 120px;
    height: 132px;

    transition: 2s transform;
    transform-style: preserve-3d;
    perspective: 1000px;
}
#content .list .course .course3 .item .front{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/pcwelt.png");
    background-repeat: no-repeat;
    background-position: center;
    /*元素背面是否可见*/
    backface-visibility:hidden ;
}
#content .list .course .course3 .item .back{
    padding: 15px;
    box-sizing: border-box;
    width: 120px;
    height: 132px;
    /*元素背面是否可见*/
    backface-visibility:hidden ;
    transform: rotateY(180deg);
}
#content .list .course .course3 .item:hover{
    transform: rotateY(180deg);
}



#content .list .course .course3 .line{
    position: absolute;
    top:-5px;
    left: 0;
    width: 9px;
    height: 410px;
    background-image: url("../img/plus_row.png");
    background-repeat: no-repeat;
}

#content .list .course .course3 .line:nth-child(1){left: -6px;}
#content .list .course .course3 .line:nth-child(2){left: 114px;}
#content .list .course .course3 .line:nth-child(3){left: 234px;}
#content .list .course .course3 .line:nth-child(4){left: 354px;}
#content .list .course .course3 .line:nth-child(5){left: 474px;}

#content .course .plane1{ width:359px; height:283px; background:url(../img/plane1.png) no-repeat; position:absolute; left:300px; top:-100px; transition:1s;}
#content .course .plane2{ width:309px; height:249px; background:url(../img/plane2.png) no-repeat; position:absolute; left:-100px; top:200px; transition:1s;}
#content .course .plane3{ width:230px; height:182px; background:url(../img/plane3.png) no-repeat; position:absolute; left:300px; top:400px; transition:1s;}


/*第三屏*/
#content .list>li:nth-child(3){
    background-image: url("../img/bg3.jpg");
}

#content .list .works .works1{
    margin: 50px 0 100px 50px;
    position: relative;
    z-index: 2;
}
#content .list .works .works2{
    margin-left: 50px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#content .list .works .works2 .item{
    position: relative;
    float: left;
    width: 220px;
    height: 133px;
    margin: 0 1px;
    overflow: hidden;
}
#content .list .works .works2 .item:last-child{
    width: 332px;
}
#content .list .works .works2 .item .mask{
    position: absolute;
    top:0;
    left: 0;
    width:100% ;
    height: 100%;
    background: rgba(25,25,25,0.8);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    opacity:0;
    transition: 1s opacity;
}
#content .list .works .works2 .item .mask>.icon{
    width: 32px;
    height: 34px;
    margin: 10px auto 0px;
    background-image: url("../img/zoomico.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: 1s background-position;
}
#content .list .works .works2 .item img{
    transition: 1s transform;
}
#content .list .works .works2 .item:hover img{
    transform: rotate(15deg) scale(1.5);
}
#content .list .works .works2 .item:hover .mask{
    opacity: .8;
}
#content .list .works .works2 .item:hover .mask>.icon{
    background-position: 0 -35px;
}
#content .list .works .works3{
    position: absolute;
    left: 900px;
    top:170px;
    width: 167px;
    height: 191px;
    background-image: url("../img/robot.png");
    background-repeat: no-repeat;
    z-index: 2;

    animation: 5s works3Move infinite linear;
}
@keyframes works3Move {
    0%{transform: rotateY(0deg)}
    49%{transform: rotateY(0deg)}
    50%{left:40%;transform: rotateY(180deg)}
    100%{transform: rotateY(180deg)}
}

#content .works .pencel1{ width:180px; height:97px; background:url(../img/pencel1.png) no-repeat; position:absolute; transition:1s; left:500px; top:0;}
#content .works .pencel2{ width:268px; height:38px; background:url(../img/pencel2.png) no-repeat; position:absolute; transition:1s; left:300px; top:250px;}
#content .works .pencel3{ width:441px; height:231px; background:url(../img/pencel3.png) no-repeat; position:absolute; transition:1s; left:650px; top:300px;}


/*第四屏*/
#content .list>li:nth-child(4){
    position: relative;
    background-image: url("../img/bg4.jpg");
}
#content .list .about .about1{
    margin: 50px 0 100px 50px;
}
#content .list .about .about2{
    width: 400px;
    margin-left: 50px;
}
#content .list .about .line{
    position: absolute;
    top:-20px;
    left: 550px;
    width: 357px;
    height: 998px;
    background-image: url("../img/greenLine.png");
    background-repeat: no-repeat;
}
#content .list .about .about3{

}
#content .list .about .about3>.item{
    position: absolute;
    width: 260px;
    height: 200px;
    border: 5px solid rgba(255,255,255,0.5);
    border-radius: 8px;
    z-index: 5;

    transition: 1s transform;
}
#content .list .about .about3>.item:nth-child(1){
    left:750px;
    top:50px;
}
#content .list .about .about3>.item:nth-child(2){
    left:600px;
    top:290px;
}
#content .list .about .about3>.item>span,#content .list .about .about3>.item>ul{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#content .list .about .about3>.item:nth-child(1)>span{
    background-image: url("../img/about2.jpg");
    background-repeat: no-repeat;
}
#content .list .about .about3>.item:nth-child(2)>span{
    background-image: url("../img/about4.jpg");
    background-repeat: no-repeat;
}

#content .list .about .about3>.item>ul>li{
    position: relative;
    float: left;
    overflow: hidden;
}
#content .list .about .about3>.item>ul>li>img{
    position: absolute;
    top:0;
    left: 0;
    transition: left 1s,top 1s;
}
/*第五屏*/
#content .list>li:nth-child(5){
    background-image: url("../img/bg5.jpg");
}
#content .list .team .team1,#content .list .team .team2{
    width: 400px;
    margin: 50px;
}
#content .list .team .team1{
    float: left;
    transition: 1s transform;
}
#content .list .team .team2{
    float: right;
    transition: 1s transform;
}
#content .list .team .team3{
    position: absolute;
    top:230px;
    left: 50%;
    margin-left:-472px ;
    width: 944px;
    height: 448px;

}
#content .list .team .team3>li{
    float: left;
    width: 236px;
    height: 448px;
    background-image: url("../img/team.png");
    background-repeat: no-repeat;
    transition: opacity 1s;
}
#content .list .team .team3>li:nth-child(1){
    background-position:3px 0px;
}
#content .list .team .team3>li:nth-child(2){
    background-position: -230px 0px;
}
#content .list .team .team3>li:nth-child(3){
    background-position:-483px 0px;
}
#content .list .team .team3>li:nth-child(4){
    background-position: -710px 0px;
}
#content .list .team .team3>canvas{
    position: absolute;
    top:0;
    /*background: deeppink;*/
}

/*侧边导航*/
#content .menuBar{
    position: fixed;
    top:50%;
    right: 10px;
    z-index: 10;
}
#content .menuBar>li{
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 10px;
}
#content .menuBar>li.active{
    background: white;
}
/*音频*/
#header .headerMain .music{
    float: left;
    width:14px;
    height:14px;
    margin:50px 0 0 5px;
    cursor: pointer;
    background-image: url("../img/musicon.gif");
    background-repeat: no-repeat;

}

/*遮罩层*/
#mask{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#mask>div{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background: #009ee0;
    transition: height 1s;
}
#mask>.maskTop{
    top:0;
}
#mask>.maskBottom{
    bottom: 0;
}
#mask>.maskLine{
    position: absolute;
    top:50%;
    margin-top: -2px;
    left: 0;
    height: 4px;
    background: #fff;
    width: 0px;
    transition: 1s width;
}




